# macOS
.DS_Store
.AppleDouble
.LSOverride
._*

# Thumbnails
Thumbs.db

# Editor directories and files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Logs
*.log

# Local environment / config overrides
.env
.env.local
